@{
    Layout = null;
}
<section >
    <div class="container h-100">
        <div class="row w-100 h-100">
            <div class="col-lg-12 h-100">
                <div class="text-center text-dark d-flex align-items-center justify-content-center flex-column h-100">
                    <h1>ResetPassword Confirmation</h1>
                    <h3>
                        Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>