@*  @model Leykoz.Areas.AdminPanel.Models.Ckvm *@
@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = null; *@
@* } *@
@* *@
@* *@
@* <h2>Testing</h2> *@
@* <form asp-action="St"  method="post" > *@
@*     <textarea asp-for="text" id="News_Body"></textarea> *@
@*     <button type="submit"> submit</button> *@
@* </form> *@
@* *@
@* <script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script> *@
@* *@
@* <script> *@
@*         ClassicEditor *@
@*             .create(document.querySelector('#News_Body'), *@
@*                 { *@
@*                     language: 'az', *@
@*                     ckfinder: { uploadUrl: '/test/UploadImage' } *@
@*                 }) *@
@*             .catch(error => { console.error(error); });  *@
@* </script> *@