    <div id="childeren">
            <div class="_container">
                <div class="top">
                    <h1>Qəhrəmanlarımız</h1>
                </div>
    
                <div id="childirens" class="bottom">
    
                    
    
                </div>
            </div>
        </div>
    <div id="main__popup">
        <div class="main__popup__container">
            <div class="popup__left">
                <div class="popup__icon">
                    <img id="closechildirens" src="./src/img/close-button.svg" alt="">
                </div>
                <div class="popup__top">
                    <div class="popup__text">
                        <h1>Ad Soyad</h1>
                        <p>
                            Birliyimizin əsas missiyası cəmiyyətimizi leykemiya xəstəliyi (qan xərçəngi) haqqında maarifləndirmək və bu xəstəliklə mübarizə aparan uşaqlara dəstək proqramları üçün vəsait toplamaqdır. Məqsədimiz uşaqları və
                        </p>
                    </div>
                </div>
                <div class="popup__bottom">
                    <div class="popup__card">
                        <div class="card__top">
                            <p>Səadətdən məktub</p>
                        </div>
                        <div class="card__bottom">
                            <div class="card__text">
                                <p class="msgcontent">
                                    Birliyimizin əsas missiyası cəmiyyətimizi leykemiya xəstəliyi (qan xərçəngi) haqqında maarifləndirmək və bu xəstəliklə mübarizə aparan uşaqlara dəstək proqramları üçün vəsait toplamaqdır. Məqsədimiz uşaqları vəBirliyimizin əsas missiyası cəmiyyətimizi leykemiya xəstəliyi (qan xərçəngi) haqqında maarifləndirmək və bu xəstəliklə mübarizə aparan uşaqlara dəstək proqramları üçün vəsait toplamaqdır.
                                </p>
                            </div>
                            
                        </div>
                        <div class="card__link">
                                @* <a href="">Ardını oxu</a> *@
                            </div>
                    </div>
                </div>
            </div>
            <div class="popup__right">
                <div class="popup__img">
                    <img src="./src/img/child-2.png" alt="">
                </div>
            </div>
        </div>
    </div><script src="~/src/script/childiren.js"></script>
<script src="~/src/script/main.js"></script>

