@model CardSettingVM
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Form Validation</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item">
                                    <a href="#">Velonic</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Forms</a>
                                </li>
                                <li class="breadcrumb-item active">Form Validation</li>
                            </ol>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-4">Basic Form</h4>
                            @* <div class="alert-danger"  asp-validation-summary="All"  ></div> *@
                            <form class="parsley-examples" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label asp-for="Value1">
                                        Maddi yardım et
                                        <span class="text-danger">
                                            * <span asp-validation-for="Value1" class="text-danger"></span>
                                        </span>
                                    </label>
                                    <input asp-for="Value1" value="@Model.Value1" parsley-trigger="change" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Value2">
                                        Könüllü ol
                                        <span class="text-danger">
                                            * <span asp-validation-for="Value2" class="text-danger"></span>
                                        </span>
                                    </label>
                                    <input asp-for="Value2" value="@Model.Value2" parsley-trigger="change" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Value3">
                                        Donor ol
                                        <span class="text-danger">
                                            * <span asp-validation-for="Value3" class="text-danger"></span>
                                        </span>

                                    </label>
                                    <br>
                                    <input asp-for="Value3" value="@Model.Value3" parsley-trigger="change" required class="form-control">
                                </div>
                                <button type="submit" class="btn btn-success waves-effect width-md waves-light">Save</button>
                            </form>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

            </div>

        </div>
        <!-- end container-fluid -->

    </div>
    <!-- end content -->


    

</div>

 
 