<main>

    <div class="_container" id="error">
        <div class="right">
            <span>404</span>
        </div>
        <div class="left">
            <img src="~/src/img/IMG_1192.JPEG" alt="">
        </div>
    </div>

</main>